*{box-sizing: border-box;
	margin: 0px auto 0px;
	max-width: 1720px;
font-size: 105% ;}
body {background-color: lightgray;}
	.main {text-align: center;}
	.header {background-color: #009999;
			width: 100%;
			height: 40px;
			text-align: center;
			border: solid black 1px;}
	.menu {background-color: #33CCCC;
			display: inline-block;
			width: 10%;
			height: 780px;
			border: solid black 0px 1px 0px 1px;
			float: left}
	.content {background-color: #60B9CE;
			display: inline-block;
			border: solid black 0px 1px 0px 1px;
			text-align: center;
			width: 100%;
			height: 780px;}
	.footer {background-color: #04819E;
			display: inline-block;
			border: solid black 1px;
			text-align: center;
			width: 100%;
			height: 45px;}
	.reg{display: block;
		border: solid #013440 2px;
		width: 25%;
		margin: auto;
		text-align: center;}
	.new{background-color: white;}

	select{font-size:100%;}

    .WH {color:black;}
    a{
    	color:black;
    	}
input[type=email]{}
table, td, tr, th{border: solid black 2px;}
 table {border-collapse: collapse;}
