body{background-color: lightgray;}
.exit{margin:5% #39889B;
	display: block;}
.main{background-color: white;
	text-align: center;
	display: block;
	border: solid black 2px;}
.menu{display: inline-block;
	float: left;
	text-align: center;
	border: solid #013440 2px;
	background-color: #21849B;
	color:#013440;
	width: 10%;
	margin-left:5px;}
.reg{display: block;
	border: solid #013440 2px;
	width: 25%;
	margin: auto;
	text-align: center;}
