body {	background-color: lightgray;};
*{box-sizing: border-box;
	border: 1px;
	height: 1000px;
	width: 1720px}
.head{height: 50%;
		width:10%};
.menu{background-color: blue;
	border: 2px;
	display: inline-block;
	width: 100px;
	height: 30%;
	text-align: center;}